<%= turbo_stream_from :rooms %>
<div class="row">
  <div class="col-md-8 mb-3">
    <div class="card border-0 shadow-sm">
      <div class="card-body">
        <h3><%= t('rooms.rooms') %></h3>
        <div class="mt-3 mb-3">
          <% if user_signed_in? %>
            <%= render 'rooms/form', room: @room %>
          <% end %>
        </div>
        <div class="list-group">
          <%= turbo_frame_tag :rooms do %>
            <%= render @rooms %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card border-0 shadow-sm mb-3">
      <div class="card-body">
        <h3><%= t('users.online_now') %></h3>
        <%= turbo_frame_tag "users-online" do %>
          <% if user_signed_in? %>
            <%= render partial: 'users/user', locals: { user: current_user } %>
          <% end %>
          <%= render partial: 'users/user', collection: @users_online %>
        <% end %>
      </div>
    </div>
  </div>
</div>
