<%= turbo_stream_from @room %>
<div class="card room_area">
  <div class="card-header">
    <div class="row">
      <div class="col-md-auto">
        <%= link_to '', root_path, class: 'bi bi-arrow-90deg-up fs-4' %>
      </div>
      <div class="col">
        <h3 class="mb-0"><%= "#{t('rooms.room')} #{@room.id}" %></h3>
      </div>
    </div>
  </div>
  <div class="card-body d-flex flex-column-reverse overflow-auto" id="chat-container">
    <%= turbo_frame_tag :messages do %>
      <%= render @room.messages.except(@new_message) %>
    <% end %>
  </div>
  <div class="card-footer">
    <%= render partial: 'messages/form', locals: { message: @new_message || @room.messages.build } %>
  </div>
</div>
