<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app.label') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-body-secondary">
    <%= turbo_stream_from 'online_users', channel: OnlineChannel %>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow-sm mb-3">
      <div class="container-fluid">
        <%= link_to t('app.label'), root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to t('global.profile'), edit_user_registration_path, class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= button_to t('global.sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link active tr-btn' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to t('global.sign_in'), new_user_session_path, class: 'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to t('global.registration'), new_user_registration_path, class: 'nav-link active' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 full-display">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
